.title-container {
    text-align: center;
    transition: transform 0.4s ease-in-out;
}

.title-container:hover {
    transform: scale(1.1);
}

.title {
    font-size: 5em;
    color: #ffffff;
    font-family: "Major Mono Display", monospace;
    font-weight: bolder;
    font-style: normal;
}

.under-title {
    font-size: 2em;
    color: #939393;
    font-weight: 300;
    font-style: normal;
}

@media (max-width: 770px) {
    .title-container {
        margin: 0 20px;
    }

    .nav-button-container {
        gap: 5px;
    }
    .nav-button {
        padding: 8px 15px;
        font-size: 12px;
    }

    .title {
        font-size: clamp(1.5em, 10vw, 3em);
    }

    .under-title {
        font-size: clamp(1em, 4vw, 1.5em);
    }
}