body {
    background-image: url('../images/Space-Fighter/Space-Fighter-Graphic.webp');
}

.scrollable-text-container {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.privacy-policy-text-container {
    max-height: 600px;
    overflow-y: auto;
    text-align: left;
    padding: 0 20px;
    font-family: "Dongle", sans-serif;
    scrollbar-color: #331b33 #0b000a;
}

.privacy-policy-text-container h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #e6e6e6;
}

.privacy-policy-text-container a {
    color: #e6e6e6;
}